@use "./variable.scss" as *;

.j-dropdown {
  position: relative;
  display: inline-block;

  .octicon {
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
  }

  & > .j-dropdown-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: block;
    background-color: transparent;
    cursor: default;
  }
}
