$white: #ffffff !default;
$black: #24292e !default;
$gray: #e1e4e8 !default;
$blue: #0366d6 !default;

$item-hover-bg: #f8f9fa !default;
$header-bg: #f6f8fa !default;
$footer-color: #6a737d !default;
$select-menu-divider-color: #6a737d !default;
$select-menu-divider-bg: #f6f8fa !default;

$border: 1px solid $gray !default;
$border-radius: 3px !default;
